@font-face {
  font-family: Nhu;
  src: url("../fonts/nhu.otf") format("opentype");
}

@font-face {
  font-family: NhuItalic;
  font-weight: normal;
  src: url("../fonts/nhu-italic.otf") format("opentype");
}

@font-face {
  font-family: NhuMedium;
  font-weight: normal;
  src: url("../fonts/nhu-medium.otf") format("opentype");
}

@font-face {
  font-family: NhuMediumItalic;
  font-weight: normal;
  src: url("../fonts/nhu-medium-italic.otf") format("opentype");
}

@font-face {
  font-family: NhuBold;
  font-weight: normal;
  src: url("../fonts/nhu-bold.otf") format("opentype");
}

@font-face {
  font-family: NhuBoldItalic;
  font-weight: normal;
  src: url("../fonts/nhu-bold-italic.otf") format("opentype");
}

@font-face {
  font-family: NhuLight;
  font-weight: normal;
  src: url("../fonts/nhu-light.otf") format("opentype");
}

@font-face {
  font-family: NhuLightItalic;
  font-weight: normal;
  src: url("../fonts/nhu-light-italic.otf") format("opentype");
}

html {
  overflow: auto;
  background-color: var(--theme-background-color);
  font-size: 15px;
}

body {
  font-family: Nhu;
  line-height: 1.5;
  color: var(--theme-medium-text-color);
  background-color: var(--theme-background-color);
}

a, a:visited, a:active {
  color: var(--theme-link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: block;
  padding: 0px 4px;
}

tt, code, kbd, samp {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.class-description {
  font-size: 110%;
  line-height: 130%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.class-description:empty {
  margin: 0;
}

#main {
  float: left;
  width: 70%;
}

article dl {
  margin-bottom: 40px;
}

section {
  display: block;
  background-color: var(--theme-background-color);
  padding: 12px 24px;
  border-bottom: 1px solid var(--theme-border-color);
  margin-right: 30px;
}

.variation {
  display: none;
}

.signature-attributes {
  font-size: 60%;
  color: var(--theme-ultralight-text-color);
  font-style: italic;
  font-weight: lighter;
}

nav {
  display: block;
  float: right;
  margin-top: 28px;
  width: 30%;
  box-sizing: border-box;
  border-left: 1px solid var(--theme-border-color);
  padding-left: 16px;
}

nav ul {
  font-family: Nhu;
  font-size: 100%;
  line-height: 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul a, nav ul a:visited, nav ul a:active {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 90%;
  line-height: 18px;
  color: var(--theme-medium-text-color);
}

nav h3 {
  margin-top: 12px;
  text-transform: lowercase;
}

nav h2 {
  margin-top: 12px;
  text-transform: lowercase;
}

nav li {
  margin-top: 6px;
}

footer {
  color: var(--theme-light-text-color);
  display: block;
  font-family: NhuItalic;
  font-size: 12px;
  margin-top: 12px;
  padding: 6px;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  color: var(--theme-medium-text-color);
  font-size: 30px;
  margin: 12px 24px 20px;
}

h2, h3.subsection-title {
  color: var(--theme-medium-text-color);
  font-family: NhuLight;
  font-size: 26px;
  margin-bottom: 12px;
}

h3 {
  color: var(--theme-medium-text-color);
  font-family: NhuLight;
  font-size: 22px;
  margin-bottom: 12px;
}

h4 {
  color: var(--theme-medium-text-color);
  font-family: NhuLight;
  margin-bottom: 12px;
}

h5, .container-overview .subsection-title {
  font-size: 100%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 8px 0 3px 0;
  text-transform: lowercase;
}

h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

table {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

td, th {
  border: 1px solid var(--theme-border-color);
  margin: 0px;
  text-align: left;
  vertical-align: top;
  padding: 4px 6px;
  display: table-cell;
}

thead tr {
  background-color: var(--theme-highlight-color);
  font-weight: bold;
}

th { border-right: 1px solid var(--theme-border-color); }
tr > th:last-child { border-right: 1px solid var(--theme-border-color); }

.ancestors { color: var(--theme-light-text-color); }
.ancestors a {
  color: var(--theme-light-text-color) !important;
  text-decoration: none;
}

.clear {
  clear: both;
}

.important {
  font-weight: bold;
  color: #950B02;
}

.yes-def {
  text-indent: -1000px;
}

.type-signature {
  color: var(--theme-ultralight-text-color);
}

.name, .signature, .param-type {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

dt {
  float: left;
}

.details {
  border-left: 2px solid var(--theme-border-color);
  color: var(--theme-light-text-color);
  font-family: NhuItalic;
  font-size: 12px;
  margin-top: 14px;
}
.details dt {
  padding-left: 10px;
  padding-top: 6px;
  text-transform: lowercase;
  width: 120px;
}
.details dd {
  margin-left: 70px;
}
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }
.details pre.prettyprint { margin: 0 }
.details .object-value { padding-top: 0; }

.param-desc, .param-desc + dl {
  margin-left: 20px;
}

.description {
    margin-bottom: 1em;
    margin-top: 1em;
}

.code-caption {
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.prettyprint {
  border: 1px solid var(--theme-border-color);
  width: 80%;
  overflow: auto;
}

.prettyprint.source {
  width: inherit;
}

.prettyprint code {
  font-size: 80%;
  line-height: 18px;
  display: block;
  padding: 4px 12px;
  margin: 0;
  background-color: var(--theme-background-color);
  color: var(--theme-medium-text-color);
}

.prettyprint code span.line {
  display: inline-block;
}

.prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol {
  padding-left: 0;
}

.prettyprint.linenums li {
  border-left: 3px solid var(--theme-border-color);
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
  background-color: lightyellow;
}

.prettyprint.linenums li * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.params .name, .props .name, .name code {
  color: var(--theme-medium-text-color);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 80%;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.disabled {
  color: var(--theme-medium-text-color);
}

:root {
  --theme-background-color: #fff;
  --theme-highlight-color: #f9f9f9;
  --theme-border-color: #efefef;
  --theme-link-color: #919cff;
  --theme-primary-text-color: #000;
  --theme-medium-text-color: #555;
  --theme-light-text-color: #888;
  --theme-ultralight-text-color: #b7b7b7;
}
